.social_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social_list li {
    margin-right: 2em;
}

.social_list svg {
    font-size: 1.5em; /*aumenta o tamanho do icone*/
    cursor:pointer;
    color: red; /*muda a cor do icone*/
}